.yesilbg {
    background-color: #3BA55D
}

.redbg {
    background-color: #ED4245
}

.saribg {
    background-color: #FAA81A
}

.graybg {
    background-color: #747F8D
}

.pulse-status-dnd {
    background-color: #ED4245;
    border-radius: 50%;
    animation: pulse-dnd 2s infinite;
    }
    .pulse-status-online {
    background-color: #3BA55D;
    border-radius: 50%;
    animation: pulse-online 2s infinite;
    }
    .pulse-status-idle {
    background-color: #FAA81A;
    border-radius: 50%;
    animation: pulse-idle 2s infinite;
    }
    .pulse-status-offline {
    background-color: #747F8D;
    border-radius: 50%;
    animation: pulse-offline 2s infinite;
    }
    @keyframes pulse-dnd {
    0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
    }
    @keyframes pulse-idle {
    0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(250, 166, 26, 0.7);
    }
    70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(250, 166, 26, 0);
    }
    100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(250, 166, 26, 0);
    }
    }
    @keyframes pulse-online {
    0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(67, 181, 129, 0.7);
    }
    70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(67, 181, 129, 0);
    }
    100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(67, 181, 129, 0);
    }
    }
    @keyframes pulse-offline {
    0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(116, 127, 141, 0.7);
    }
    70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(116, 127, 141, 0);
    }
    100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(116, 127, 141, 0);
    }
    }