.yesilbg {
    color: #3BA55D
}

.redbg {
    color: #ED4245
}

.saribg {
    color: #FAA81A
}

.graybg {
    color: #747F8D
}


@media screen and (min-width: 768px) {
    .ceco {
        position: absolute; top: 546px; left: 670px;
    }
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.activityBox {
    width: 500px;
}
.message.is-danger {
    background-color: #0c1117 !important;
    border-color: #920823 !important;
    color: #ffffffeb !important;
}
.message.is-danger-2 {
    background-color: #1d1d1d !important;
}
.message-body{
    border-color: #920823 !important;
    color: #ffffffeb !important;
}
.message-body,
.message.is-danger-2 {
    border-color: #920823 !important;
    color: #ffffffeb !important;
}
.message.is-success {
    background-color: #0c1117 !important;
}
.message.is-success-2 {
    background-color: #1d1d1d !important;
}
.message.is-success .message-body {
    border-color: #089269 !important;
    color: #ffffffeb !important;
}
.message.is-success-2 .message-body {
    border-color: #089269 !important;
    color: #ffffffeb !important;
}
.box-31 {
    background-color: #0c1117;
    padding: 10px !important;
    color: #fff;
    border-color: #920823 !important;
    color: #ffffffeb !important;
    font-weight: 500;
    border-radius: 10px;
}

.box {
    background-color: #0c1117;
    color: #fff;
    font-weight: 500;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pulse-status-dnd {
    color: #ED4245;
    border-radius: 50%;
    animation: pulse-dnd 2s infinite;
    }
    .pulse-status-online {
    color: #3BA55D;
    border-radius: 50%;
    animation: pulse-online 2s infinite;
    }
    .pulse-status-idle {
    color: #FAA81A;
    border-radius: 50%;
    animation: pulse-idle 2s infinite;
    }
    .pulse-status-offline {
    color: #747F8D;
    border-radius: 50%;
    animation: pulse-offline 2s infinite;
    }
    @keyframes pulse-dnd {
    0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
    }
    @keyframes pulse-idle {
    0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(250, 166, 26, 0.7);
    }
    70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(250, 166, 26, 0);
    }
    100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(250, 166, 26, 0);
    }
    }
    @keyframes pulse-online {
    0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(67, 181, 129, 0.7);
    }
    70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(67, 181, 129, 0);
    }
    100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(67, 181, 129, 0);
    }
    }
    @keyframes pulse-offline {
    0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(116, 127, 141, 0.7);
    }
    70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(116, 127, 141, 0);
    }
    100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(116, 127, 141, 0);
    }
    }

   
        @keyframes pulse-sss {
            0% {
            transform: scale(0.9);
            box-shadow: 0 0 0 0 #2196f3;
            width: 500px;
            }
            70% {
            transform: scale(0.9);
            box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
            }
            100% {
            transform: scale(0.9);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
            }
            } 
            .pulse-status-sss {
                color: #2196f3;
                animation: pulse-sss 2s infinite;
                }
        
